.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

section {
  padding: var(--spacing-3xl) 0;
}

@media (max-width: 768px) {
  section {
    padding: var(--spacing-2xl) 0;
  }
}
